.integration_d
{
	position: absolute;
	display: none;
	overflow: hidden;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 49px;
	height: 100%;
	background: #f0f0f0;
	color: #FFFFFF;
	border-right: 1px solid #c0c0c0;
	z-index: 26;
	padding-top: 3px;
}

.integration_d img
{
	display: none;
	height: 36px;
	width: 36px;
	padding: 5px 7px;
	cursor: pointer;
}

#intBlank
{
	height: 36px;
	width: 36px;
	padding: 5px 7px;
}

#resourceCalDAV_h, #resourceCalDAVTODO_h, .System > #ResourceCalDAVList, .System > #ResourceCalDAVTODOList, #timezoneWrapper, #timezoneWrapperTODO
{
	left: 50px;
}

#main, #main_h, #searchForm, #mainTODO, #main_h_TODO, #searchFormTODO
{
	left: 274px;
}

#MainLoader, #EventDisabler, #TodoDisabler, #AlertDisabler, #ProjectsDisabler
{
	left: 50px;
}

#CalendarLoader, #ResizeLoader, #CalendarLoaderTODO
{
	left: 275px;
}

#todoForm_h, #todoColor, #todoLoader
{
	left: 694px;
}

#todoForm
{
	left: 697px;
}

.System > div.resourcesCardDAV_d, .System > #ResourceCardDAVList, .System > #ResourceCardDAVListOverlay
{
	left: 50px;
}

.System > div.collection_d, .System > #SearchBox, .System > #ABList, .System > #ABListOverlay
{
	left: 275px;
}

.System > div.contact_d, .System > #ABContactColor, .System > #ABContactOverlay, .System > #ABMessage
{
	left: 526px;
}

.System > #ABContact
{
	left: 529px;
}

.System > div.resourcesSettings_d, .System > #ResourceSettingsList
{
	left: 50px;
}

.System > div.settings_d, .System > #SettingsForm, .System > #SettingsFormOverlay
{
	left: 275px;
}

.System > div.filters_d, .System > div.statistics_d, .System > #FilterList, .System > #ProjectsData, #SystemProjectsLock, #ProjectListDisabler
{
	left: 50px;
}

.System > div.projects_d, .System > #ProjectList, .System > #SearchBoxProject, #ProjectListOverlay
{
	left: 375px;
}

.System > div.project_d, .System > #ProjectForm, #ProjectFormLoader, .System > #ProjectEvents, .System > #ProjectEventsHeader, #ActivityListDisabler, #ProjectFormMessage
{
	left: 626px;
}
